//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 07 16:49:27 2016
//! **************************************************************************

SCHEMATIC START;
COMP "pwr" LOCATE = SITE "V16" LEVEL 1;
COMP "astb" LOCATE = SITE "V14" LEVEL 1;
COMP "dstb" LOCATE = SITE "U14" LEVEL 1;
COMP "mclk" LOCATE = SITE "B8" LEVEL 1;
COMP "ld<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "ld<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "ld<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "ld<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "ld<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "ld<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "ld<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "ld<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "pwait" LOCATE = SITE "N9" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "pdb<0>" LOCATE = SITE "R14" LEVEL 1;
COMP "pdb<1>" LOCATE = SITE "R13" LEVEL 1;
COMP "pdb<2>" LOCATE = SITE "P13" LEVEL 1;
COMP "pdb<3>" LOCATE = SITE "T12" LEVEL 1;
COMP "pdb<4>" LOCATE = SITE "N11" LEVEL 1;
COMP "pdb<5>" LOCATE = SITE "R11" LEVEL 1;
COMP "pdb<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "pdb<7>" LOCATE = SITE "R10" LEVEL 1;
NET "mclk_BUFGP/IBUFG" BEL "mclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

