NET "mclk"    LOC = "B8"  ;
NET "astb"   LOC = "V14";
NET "dstb"   LOC = "U14";
NET "pwr"     LOC = "V16";
NET "pwait"   LOC = "N9";
NET "pdb<0>"  LOC = "R14";
NET "pdb<1>"  LOC = "R13";
NET "pdb<2>"  LOC = "P13";
NET "pdb<3>"  LOC = "T12";
NET "pdb<4>"  LOC = "N11";
NET "pdb<5>"  LOC = "R11";
NET "pdb<6>"  LOC = "P10";
NET "pdb<7>"  LOC = "R10";
NET "btn<0>"  LOC = "B18"  ;
NET "btn<1>"  LOC = "D18"  ;
NET "btn<2>"  LOC = "E18"  ;
NET "btn<3>"  LOC = "H13"  ;
NET "sw<0>"  LOC = "G18"  ;
NET "sw<1>"  LOC = "H18"  ;
NET "sw<2>"  LOC = "K18"  ;
NET "sw<3>"  LOC = "K17"  ;
NET "sw<4>"  LOC = "L14"  ;
NET "sw<5>"  LOC = "L13"  ;
NET "sw<6>"  LOC = "N17"  ;
NET "sw<7>"  LOC = "R17"  ;
NET "ld<0>"  LOC = "J14"  ;
NET "ld<1>"  LOC = "J15"  ;
NET "ld<2>"  LOC = "K15"  ;
NET "ld<3>"  LOC = "K14"  ;
NET "ld<4>"  LOC = "E16"  ;
NET "ld<5>"  LOC = "P16"  ;
NET "ld<6>"  LOC = "E4"  ;
NET "ld<7>"  LOC = "P4"  ;
